 body{
     font-family: Arial, Helvetica, sans-serif;
 }
 
  .jumbotron{    
    background-color: rgba(8, 131, 80, 0.486);
    text-align: justify;
    text-align: center;    
    color: rgb(192, 11, 11);
    font-size: 30px; 
    border: 1px solid red;
    border-radius: 20px;
  } 
 #test {
    margin-left: 10px;
    background: rgb(135, 145, 233);
    padding: 10px 20px 10px 20px;
    width: 400px;
    border-radius: 20px;
    color: rgb(9, 9, 94);
    float: left;
}
#input{
    margin-bottom: 20px; 
}
h1{
    background-color: #d2def2;  
    text-align: center;
    text-shadow: 3px 2px red;
    border-radius: 10px;
   
}   
    
#button{
    background: blue;
    border: none;
     border-radius: 5px; 
    padding: 10px;
    color: rgb(180, 180, 223);
    font-size: 16px;
    transition-duration: .5s;
    margin-top: 15px;
}
#button:hover{
    background: white;
    border: 1px solid blue;
    color: black; 
    cursor: pointer;
    transition-duration: .5s;
}
 
    
 #after_submit {
    visibility: hidden;
    background: #ff5459;   
    padding: 10px 20px 10px 20px;
    width: 400px;
    border-radius: 20px;
    float: left;
    margin-left: 20px;
    font-size: 30px;

   
} 
#pictures {
    width: 355px;
    height: 245px;
} 
#mc{
    background-color: blue;
} 
/* #clock-timer{
    position: fixed;
    width: 400px;
    background: #d2def2;
    padding: 10px;
    border-radius: 20px;
    float:left;
} */
/* #welcomeContainer{
    position: Absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
 #resultContainer{
    position: Absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}
#gameContainer,#submitBtn,#resultContainer, #timerDiver{
    display: none;
}
p{
    list-style: none;
}

#timer{
    position: fixed;
    color: #f52b11;
}
/* #startBtn{
    background: blue;
    border-radius: 5px;
    padding: 10px;
    color: rgb(180, 180, 223);
    font-size: 16px;
    margin-top: 15px;
}

#startBtn:hover{
    background: white;
    border: 1px solid blue;
    color: black; 
    cursor: pointer;
    color: black;
    margin-left: 10px;
    float: left;
   
} */










  
 