#test {
    margin-left: 10px;
    background: #d2def2;
    padding: 10px 20px 10px 20px;
    width: 400px;
    float: left;
}

input{
    margin-bottom: 20px;    
}
#button{
    background: blue;
    border: none;
     border-radius: 5px; 
    padding: 10px;
    color: rgb(180, 180, 223);
    font-size: 18px;
    transition-duration: .5s;
    margin-top: 15px;
}
#button:hover{
    background: white;
    border: 1px solid blue;
    color: black;
    cursor: pointer;
}
body{
    background: orange;
    background-image: url("images/vector-Stock.jpg")
}
#after_submit {
    visibility: hidden;
    background: #1b66df;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    font-size: 24;
    float: left;
}
#pictures {
    width: 400px;
    height: 250px;
}

















