 .jumbotron{    
    background-color: rgba(8, 131, 80, 0.486);
    text-align: justify;
    text-align: center;    
    color: rgb(192, 11, 11);
    font-size: 30px; 
    border: 1px solid red;
    border-radius: 20px;
      
}   
 #test {
    margin-left: 10px;
    background: transparent;
    padding: 10px 20px 10px 20px;
    width: 400px;
    border-radius: 10px;
    float: left;
    position: absolute;
    font-size: 24px;
    color:blue; 

} 
h1{
    background-color: #d2def2;   
    padding: 10px;
    text-shadow: 3px 2px white;
    color:red;
    font-style: futurism;

   
}   

 input{
    margin-bottom: 20px;    
}
#button{
    background: blue;
    border: none;
     border-radius: 5px; 
    padding: 10px;
    color: rgb(180, 180, 223);
    font-size: 16px;
    transition-duration: .5s;
    margin-top: 15px;
}
#button:hover{
    background: white;
    border: 1px solid blue;
    color: black; 
    cursor: pointer;
}
 body{
   font-family: Arial, Helvetica, sans-serif;

}
    
 #after_submit {
    visibility: hidden;
    background: #ff5459;   
    padding: 10px 20px 10px 20px;
    width: 400px;
    border-radius: 20px;
    float: right;
    margin-left: 20px;
    font-size: 30px;
   
} 
#pictures {
    width: 350px;
    height: 245px;
} 
#clock-timer{
    position: fixed;
    width: 400px;
    background: #d2def2;
    padding: 10px;
    border-radius: 20px;
    float:left;
}
/* #welcomeContainer{
    position: Absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
#resultContainer{
    position: Absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}
#gameContainer,#submitBtn,#resultContainer, #timerDiver{
    display: none;
}
p{
    list-style: none;
}

#clock-timer{
    position: fixed;
}
#startBtn{
    background: blue;
    border-radius: 5px;
    padding: 10px;
    color: rgb(180, 180, 223);
    font-size: 16px;
    transition-duration: .5s;
    margin-top: 15px;
}

#startBtn:hover{
    background: white;
    border: 1px solid blue;
    color: black; 
    cursor: pointer;









  
 